services:
  # -------------------------
  # PostgreSQL
  # -------------------------
  postgres:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/18/main
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_INTERNAL_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

  # -------------------------
  # InfluxDB
  # -------------------------
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "${INFLUXDB_PORT}:${INFLUXDB_INTERNAL_PORT}"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=my-bucket
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_ADMIN_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXD_HTTP_BIND_ADDRESS=:${INFLUXDB_INTERNAL_PORT}
    volumes:
      - influxdb-data:/var/lib/influxdb2
    networks:
      - monitoring

  # -------------------------
  # Grafana
  # -------------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "${GRAFANA_PORT}:${GRAFANA_INTERNAL_PORT}"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_ADMIN_PASSWORD}
      - GF_SERVER_HTTP_PORT=${GRAFANA_INTERNAL_PORT}
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - influxdb
      - postgres
    networks:
      - monitoring

# -------------------------
# Networks & Volumes
# -------------------------
networks:
  monitoring:

volumes:
  postgres-data:
  influxdb-data:
  grafana-data:
